
.feuillePerso .divFixe
{
  min-height: 412px;
  max-height: 412px;
}
.feuillePerso   input
  {
    background-color:  #fafafa !important;
    font-weight: bold;
  }
.feuillePerso .divFixe2
{
  min-height: 476px;
  max-height: 476px;
}
.feuillePerso {
  font-family: 'Oswald', sans-serif !important;
  max-height: 700px;
  min-height: 700px;

  display: flex;
  flex-direction: column;

  align-content: flex-end;
}
.feuillePerso h1 {
  font-family: 'Oswald', sans-serif !important;
}

.feuillePerso input[type="checkbox"]
{
  opacity: 1;
  position: relative;
  pointer-events: auto;
}
.inputNumberS
{
  width: 40px !important;
}
/* .sante input {
  width: 60px !important;t
} */
.sante input[type="text"] {
  width: inherit !important;
}
.feuillePerso input[type="text"], .feuillePerso input[type="number"]
{


  padding: 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
    border: none !important;

    -webkit-border-radius: 3px !important;
       -moz-border-radius: 3px !important;
            border-radius: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
            box-shadow: none !important;
    /* -webkit-transition: none !important;
       -moz-transition: none  !important;
        -ms-transition: none  !important;
         -o-transition: none  !important;
            transition:none  !important; */
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s !important;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
            transition: border linear 0.2s, box-shadow linear 0.2s !important;

}
html{
  font-family: 'Raleway', sans-serif;
}
/* input[type="number"]
{
  width: 50px;
  -webkit-appearance: none;
} */
input[type="number"]
{
  width: inherit;
  -webkit-appearance: none;
}
#content
{
  margin-top:  64px;
  /* margin-left: 300px; */
  padding: 50px;

}
.bgBrown
{
  background-color: #362d24;

}
.swal-button--cancel
{
  color: #555;
background-color: #efefef;
}
 .dropdown-content li
{
  text-align: center !important;

}
.dropdown-content
{
  margin-left: 50px !important;
  min-width: 60px !important;
}

.nav
{
  height: 64px;
  /* left: 300px; */
  position: absolute;
  top:0;
  right: 0;
  /* left: 64; */
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  width:100%;
}
.nav ul
{
  display: flex;
}
.nav ul li
{
  display: flex;
  color:white;
  margin-left: 20px;
  margin-right: 20px;
}
.nav ul li a
{
  display: flex;
  color:white;
}
/* .nav::before
{
  content:"Wasteland";
  top:0;
  left:-3000px;
  position: absolute;
  height: 64px;
  width: 3000px;
  z-index: 1;
  background: white;
  border-bottom: black solid 2px;
} */
.side
{
  position: fixed;
  width: 300px;
  height: 100%;
  left:0;
  top:0;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: none;
    color: #333333;
}
.raphael
{
  border: none;
  background-image: url("http://www.syncrpg.com/sam/data/tokenImages/Devin_Night/commissioned/M_Noble_archer_Dark_02_hi.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 100px;
  min-height: 100px;
  height: 50px;
  width: 50px;
  position: relative;
}
.raphael::after
{
  content:'Raphaël';
  color: white;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  text-align: center;
}
